html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

/* 共通 */
body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* 昼（5:00〜17:00） */
body.day {
  background-image: url("https://images.unsplash.com/photo-1501785888041-af3ef285b470");
}

/* 夜（17:00〜5:00） */
body.night {
  background-image: url("https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3");
}
