html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;

  /* 仮の背景（後で差し替える） */
  background-color: #000;
}

h1 {
  font-size: 80px; /* タイトル大きめ */
  margin-top: 20vh;
}

p {
  font-size: 20px;
  opacity: 0.8;
}
